.messages__message--box
  .messages__message--user
    = message.user.name
    .messages__message--time
      = message.created_at.strftime("%Y-%m-%d %H:%M")
  .messages__message--text
    = message.message if message.message.present?
  - if message.image.present?
    .messages__message--image
      = image_tag message.image.url, class: 'image-size'
