.announce グルーブを作成しました
.menu
  .menu__user
    .menu__user--name user
    .menu__user--edit
    =link_to "/" do
      =fa_icon 'edit'
    =link_to "/" do
      =fa_icon 'gear'
  .menu__group
    .menu__group--name
      sample
    .menu__group--message
      Good bye world
  .menu__group
    .menu__group--name
      sample-group
    .menu__group--message
      まだメッセージがありません
.messages
  .messages__group
    .messages__group--left
      .messages__group--name
        sample
      .messages__group--members
        Members: seo neko
    .messages__group--edit
      edit
  .messages__message
    .messages__message--user
      user
      .messages__message--text
        Hello world!
    .messages__message--user
      neko
      .messages__message--text
        Good bye world!
  .messages__post
    type a message
    =fa_icon 'image'
    send
    