.announce
  .announce__text グループを作成しました
.menu
  .menu__user
    .menu__user--name user
    .menu__user--edit
      =link_to "/" do
        =fa_icon 'edit'
      =link_to "/" do
        =fa_icon 'gear'
  .menu__group
    =link_to '/' do
      .menu__group--name
        sample
      .menu__group--message
        Good bye world
  .menu__group
    =link_to '/' do
      .menu__group--name
        sample-group
      .menu__group--message
        まだメッセージがありません
.messages
  .messages__group
    .messages__group--left
      .messages__group--name
        sample
      .messages__group--members
        Members: seo neko
    =link_to '/' do
      .messages__group--edit
        Edit
  .messages__message
    .messages__message--user
      user
      .messages__message--time
        2019/09/25(Wed) 18:00:00
    .messages__message--text
      Hello world!
    .messages__message--user
      neko
      .messages__message--time
        2019/09/25(Wed) 18:05:00
    .messages__message--text
      Good bye world!
  = form_for("new-message", html: {class: 'messages__post'}) do |f|
    .input-box
      %input.messages__post--textbox{type: "text", placeholder: "type a message"}
      %label.messages__post--image{for: "upload-icon"}
        %i.fa.fa-picture-o
        = f.file_field :image, id: "upload-icon"
    %input.messages__post--send{type: "submit", value: "Send"}
