.announce グルーブを作成しました
.menu
  .menu__user
    .menu__user--name seo
    .menu__user--edit
      =fa_icon 'edit'
      =fa_icon 'gear'
  .menu__group
    .menu__group--name
      sample
    .menu__group--message
      Good bye world
.messages
  .messages__group
    .messages__group--name
      sample
    .messages__group--members
      Members: seo neko
  .messages__message
    .messages__message--user
      seo
      .messages__message--text
        Hello world!
    .messages__message--user
      neko
      .messages__message--text
        Good bye world!
    