.menu
  .menu__user
    .menu__user--name 
      = current_user.name
    .menu__user--edit
      =link_to new_group_path do
        =fa_icon 'edit'
      =link_to edit_user_path(current_user) do
        =fa_icon 'gear'
  .menu__group
    =link_to '/' do
      .menu__group--name
        sample
      .menu__group--message
        Good bye world
  .menu__group
    =link_to '/' do
      .menu__group--name
        sample-group
      .menu__group--message
        まだメッセージがありません